@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

$button-size: 170px;

@mixin click-animation-keyframes() {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
  }
  25%, 50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@-webkit-keyframes click-animation {
  @include click-animation-keyframes;
}

@keyframes click-animation {
  @include click-animation-keyframes;
}

.cbutton {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: #286aab;
  font-size: 1.4em;
  @include transition(color 0.7s);

  &.cbutton--click,
  &:focus {
    outline: none;
    color: #3c8ddc;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -#{$button-size/2} 0 0  -#{$button-size/2};
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
  }
}

.cbutton__icon {
  display: block;
}

.cbutton__text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Effect */

.cbutton--effect {
  &::after {
    background: rgba(111,148,182,0.1);
  }

  &.cbutton--click::after {
    @include animation(click-animation 0.3s forwards);
  }
}

/* Hover Effect */
$hover-effect-param: 0;

.hi-icon-effect .hi-icon {
  position: relative;

  &:after {
    border-radius: 50%;
    box-shadow: 0 0 25px 5px #fff;
    content: '';
    left: -$hover-effect-param;
    opacity: 0;
    padding: $hover-effect-param;
    pointer-events: none;
    position: absolute;
    @include scale(1);
    @include square(100%);
    top: -$hover-effect-param;
    @include transition(transform 0.2s, opacity 0.2s);
  }

  &:hover:after {
    @include scale(1);
    opacity: 0.5;
  }
}
