@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@media screen and (max-width: $screen-xs-max) {

  .footer {

      .copyrights {
        padding: 15px 0;
      }
  }

  .on-air {
    margin-top: 5px;
  }

  .show-name {
    width: unquote("calc(100% - 120px)");
    line-height: 2 !important;
    font-size: 14px !important;
    float: none !important;
  }

  .forms {
    .form-control {
      max-width: none !important;
    }
  }

  .modal-content {
    .btn {
      margin: 0 0 5px !important;
    }
  }
}

@media screen and (max-width: $screen-sm-min) {

  .call-to-subscribe {
    margin: 0 0 20px;
  }

  .podcast-block {
    padding: 0;
    margin-bottom: 20px;

    h3 {
      margin: 5px 0;
    }

    .info-block {
      padding: 10px;
    }
  }

  .forms {
    .btn-primary {
      width: 100%;
    }
  }
}


@media screen and (max-width: $grid-float-breakpoint) {
  .navbar-brand.logo {
    height: auto;
    width: unquote("calc(100% - 100px)");
    img {
      max-height: 100%;
    }
  }
}

@media screen and (max-width: $screen-md-min) {
  .container {
    width: auto;
  }
}



@media screen and (min-width: $screen-sm-min) {

  .download-button {
    left: 100px;
  }

  .account-info .price-plan,
  .account-info span.text {
    width: auto;
  }

  .navbar {
    li {
      width: auto;
      float: left;
    }
  }

  .podcast-block {
    margin-bottom: 30px;

    &.top-podcast {
      .podcast-absolute {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }

      .podcast-inner {
        display: table;
        width: 100%;
        height: 100%;
      }

      .podcast-content {
        display:table-cell;
        vertical-align:middle;
        text-align: center;
      }

      .info-block {
        height: auto;
        width: 70%;
        max-width: 880px;
        display: inline-block;
        position: relative;
        text-align: left;

        .episode-desc {
          max-width: 720px;
          width: 90%;
        }

        .play-button,
        .pause-button,
        .play-button-subscribe {
          position: absolute;
//          right: unquote('calc(100% - 60px)');
          bottom: -60px;
          display: block;
          @include square($player-height);
        }
      }
    }

    &.top {
      .info-block {
        width: 80%;
        top: 30px;
        left: 50px;
        height: auto;

        .episode-desc {
          width: 60%;
        }

        .play-button, .pause-button {
          bottom: 50%;
          right: 0;
          margin: 0 0 0 -37px;
        }

        .play-button-subscribe {
          bottom: 50%;
          right: 0 !important;
          margin: 0 0 0 -37px;
        }

        .download-button {
          top: 70%;
          bottom: 0%;
          right: 0 !important;
          margin: 0 0 0 -20px;
          left: initial;
        }
      }
    }
    .info-block {
      h3 {
        font-size: 24px;
      }

      .episode-desc {
        font-size: 10px;
      }

      .play-button, .pause-button {
        @include square($player-height);
        bottom: 20px;
      }

      .play-button-subscribe {
        @include square($player-height);
        bottom: 20px;
      }
    }
  }

  .reset-help {
    max-width: 250px;
  }

  .archive-nav {
    text-align: center;

    li {
      display: inline-block;
    }
  }

  .forms {
    .form-control {
      max-width: 225px;
    }
  }

  .modal-content {
    .btn {
      width: 30%;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .podcast-block {
    .info-block {
      h3 {
        font-size: 38px;
      }

      .episode-desc {
        font-size: 15px;
      }

      .play-button, .pause-button {
        height: 75px !important;
        width: 75px !important;
      }

      .play-button-subscribe {
        height: 75px !important;
        width: 75px !important;
        right: unquote('calc(100% - 90px)') !important;
      }

      .download-button {
        height: 75px;
        width: 75px;
        left: 120px;

        img {
           height: 75px;
           width: 75px;
        }
      }
    }
  }
}


@media screen and (min-width: $screen-lg-min) {
  .podcast-block {
    .info-block {
      .date {
        font-size: 14px;
      }

      h3 {
        font-size: 72px;
      }

      .episode-desc {
        font-size: 18px;
      }
    }

    &.index-podcast {
      .info-block {
        h3 {
          font-size: 48px;
        }

        .episode-desc {
          font-size: 18px;
        }
      }
    }
  }
}

//footer

@media screen and (max-width: $screen-sm-max) {

  .footer {
    bottom: 42px;

  }

  .volume-block {
        float:  right !important;
      }
  .player-block {
     .progress-block {
        float: none !important;
        width: 100% !important;
        display: block;
        position: absolute;
        top: -50px;
      }
    }

  .progress-player {
    margin: 0 !important;
  }
}

@media screen and (max-width: $screen-md-max) {
  .progress-block {
    width: unquote('calc(100% - 590px)') !important;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .pull-left {
    .progress-block {
      display: block !important;
    }
  }

  .volume-block {
    margin: 0 !important;
    float: right !important;
  }

  .player-block {

    .progress-block {
      float: none !important;
      width: 100% !important;
      display: block;
      position: absolute;
      top: -50px;
    }
  }
  .show-name {
    clear: both;
    line-height: 20px !important;
    font-size: 12px !important;
    width: 120px !important;
    margin: 7px 5px 0 !important;
  }

  .show-name-air {
    width: auto !important;
  }
}

//end footer