$icon-font-path: "/static/components/bootstrap-sass/assets/fonts/bootstrap/";
$navbar-default-bg: #ffffff;
$navbar-default-border: none;
$navbar-border-radius: 0;
$navbar-padding-vertical: 0;
$nav-link-padding: 25px 15px;
$screen-sm: 600px;
$grid-float-breakpoint: 1200px;
$screen-xs-max: 600px;
$grid-gutter-width: 30px;
$container-tablet: 570px + $grid-gutter-width;
$btn-primary-bg: #2f76df;
$nav-link-hover-bg: transparent;

@import "/components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "global";
@import "index";
@import "footer";
@import "responsive";
@import "clock";
@import "forms";
@import "account-info";
@import "archive";
@import "popup";
@import "menu";