{% extends "account/base.html" %}

{% load i18n bootstrap3 %}
{% load account %}
{% load url from future %}

{% block body_class %}forms{% endblock %}

{% block head_title %}{% trans "Having trouble signing in?" %}{% endblock %}

{% block content %}

  <h1>{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}

    <div class="col-sm-7  col-sm-offset-5">
      <p class="reset-help">{% blocktrans %}To reset your password, enter the email address you use to sign in to Collective beat.{% endblocktrans %}</p>
      <input type="submit" class="btn btn-primary" value="{% trans "Continue" %}" />
    </div>
  </form>

{% endblock %}
