{% extends 'base.html' %}

{% load i18n bootstrap3 %}

{% block body_class %}account-info{% endblock %}
{% block head_title %}{% trans 'Account info' %}{% endblock %}

{% block content %}
  <h1>
    {% trans 'User account' %}
  </h1>
  <p class="help-info">
    {% trans 'Manage your information and levels' %}
  </p>
  <div class="subscription-plan logic-block clearfix">
    <h2>{% trans 'Subscription Plan' %}</h2>
    <div class="col-lg-5 col-md-6 current-plan">
      <span class="text col-xs-12">{% trans 'Your current plan:' %}</span>
      <span class="price-plan btn col-xs-12">
        <strong>{{ user.get_subscription_plans_info.current.title }}</strong>
        {{ user.get_subscription_plans_info.current.description }}
      </span>
    </div>
{#    <div class="col-sm-1">#}
{#      <span class="text">#}
{#        {% trans 'Change Plan:' %}#}
{#      </span>#}
{#    </div>#}
    <div class="col-lg-7 col-md-6">
      <span class="text col-xs-12">
        {% trans 'Change Plan:' %}
      </span>
      {% for plan_data in user.get_subscription_plans_info.available %}
        <a href="{% url 'accounts:change_plan' plan_id=plan_data.braintree_id %}" class="price-plan btn btn-primary col-xs-12">
          <strong>{{ plan_data.title }}</strong>{{ plan_data.description }}
        </a>
        {% if not forloop.last %}
          <span class="text col-xs-12">{% trans 'or' %}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="logic-block clearfix">
    <h2>
      {% trans 'User Informtion' %}
    </h2>
    <dl class="dl-horizontal col-sm-4 col-sm-offset-4">
      <dt>{% trans 'First name:' %}</dt>
      <dd>{{ object.first_name }}</dd>
    </dl>
    <dl class="dl-horizontal col-sm-4 col-sm-offset-4">
      <dt>{% trans 'Last name:' %}</dt>
      <dd>{{ object.last_name }}</dd>
    </dl>
    <dl class="dl-horizontal col-sm-4 col-sm-offset-4">
      <dt>{% trans 'Email:' %}</dt>
      <dd>{{ object.email }} {% if not user.profile.account_verified %}<strong>(unverified)</strong>{% endif %}</dd>
    </dl>
    <dl class="dl-horizontal col-sm-4 col-sm-offset-4">
      <dt>{% trans 'Gender:' %}</dt>
      <dd>
        {% if object.gender == 'o'%}
          {{ object.gender_other }}
        {% else %}
          {{ object.get_gender_display }}
        {% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal col-sm-4 col-sm-offset-4">
      <dt>{% trans 'Country:' %}</dt>
      <dd>{{ object.get_country_display }}</dd>
    </dl>
    <dl class="dl-horizontal col-sm-4 col-sm-offset-4">
      <dt>{% trans 'Day of birth:' %}</dt>
      <dd>{{ object.birthdate }}</dd>
    </dl>
    <div class="clear"></div>
    <a class="btn change-btn col-sm-2 col-sm-offset-4" href="{% url 'account_change_password' %}" data-pjax>
      {% trans 'Change Password' %}
    </a>
    <a class="btn change-btn col-sm-2" href="{% url 'accounts:edit_info' %}" data-pjax>
      {% trans 'Change Information' %}
    </a>
  </div>
  <div class="mail-notification logic-block">
    <h2>
      {% trans 'Mail Notification' %}
    </h2>
    <form method="post" action="{% url 'accounts:subscriptions_edit' %}">
      {% csrf_token %}
      {% bootstrap_form_errors subscriptions_form %}
      {% bootstrap_form subscriptions_form %}

      {% buttons %}
        {% trans 'Save Notifications Settings' as save_trans %}
        {% bootstrap_button save_trans 'submit' %}
      {% endbuttons %}
    </form>
  </div>

  <div class="logout-block logic-block clearfix">
    <a href="{% url 'account_logout' %}" class="btn change-btn">
      {% trans 'Logout' %}
    </a>
  </div>
{% endblock %}