{% load staticfiles i18n %}

<div class="footer clearfix">
    <div class="col-sm-8 col-sm-offset-2 footer-menu clearfix">
        <div class="col-sm-3">
            <a href="#">
                QUIENES SOMOS
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                MEDIOS
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                AVISO LEGAL
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                AYUDA
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                CONTACTO
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                GRACIAS
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                TERMINOS DE PRIVACIDAD
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#"><img src="{% static 'img/google_plus.png' %}"></a>
            <a href="#"><img src="{% static 'img/twitter.png' %}"></a>
            <a href="#"><img src="{% static 'img/facebook.png' %}"></a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="copyrights">
        <div class="col-sm-offset-2">
            © 2015 collective beat
        </div>
    </div>
</div>