{% load staticfiles flatpages i18n %}
{% get_flatpages as flatpages %}

<div class="footer clearfix">
  <div class="container footer-menu clearfix">
    {% for page in flatpages %}
      <div class="col-sm-3 col-xs-6">
        <a href="{% url 'django.contrib.flatpages.views.flatpage' url=page.url %}"><span>{{ page.title }}</span></a>
      </div>
    {% endfor %}

    <div class="col-sm-3 col-xs-6">
      <a href="https://instagram.com/latidocolectivo/" target="_blank"><img src="{% static 'img/instagram.png' %}"></a>
      <a href="https://twitter.com/latidocolectivo" target="_blank"><img src="{% static 'img/twitter.png' %}"></a>
      <a href="https://www.facebook.com/collectivebeat" target="_blank"><img src="{% static 'img/facebook.png' %}"></a>
    </div>
  </div>
  <div class="clear"></div>

  <div class="copyrights">
    <div class="container">
      © 2015 collective beat
    </div>
  </div>

  <div class="player-block">
    <a href="/" class="footer-logo">
      <img src="{% static 'img/footer-logo.png' %}">
    </a>
    {% if user.is_authenticated and user.is_paid_member %}
      <a href="#" class="play-button back-button">
        <button class="cbutton cbutton--effect">
            <img src="{% static 'img/remote15.jpg' %}" class="cbutton__icon">
            <span class="cbutton__text">Remote</span>
        </button>
      </a>
      <a href="#" class="play-button">
        <button class="cbutton cbutton--effect">
          <img src="{% static 'img/play-button.png' %}" class="cbutton__icon">
          <span class="cbutton__text">Play</span>
        </button>
      </a>
      <a href="#" class="pause-button" style="display: none;">
        <button class="cbutton cbutton--effect">
          <img src="{% static 'img/pause-button.png' %}" class="cbutton__icon">
          <span class="cbutton__text">Pause</span>
        </button>
      </a>
      <a href="#" class="play-button forward-button">
        <button class="cbutton cbutton--effect">
            <img src="{% static 'img/forward15.jpg' %}" class="cbutton__icon">
            <span class="cbutton__text">Forward</span>
        </button>
      </a>
    {% else %}
      <a href="#" class="play-button-subscribe" data-toggle="modal" data-target="#premium-need">
        <button class="cbutton cbutton--effect">
          <img src="{% static 'img/play-button.png' %}" class="cbutton__icon">
          <span class="cbutton__text">Play</span>
        </button>
      </a>
    {% endif %}

    <div class="show-name"></div>
    <div class="on-air-block">
      <a id="volume">
        <img src="{% static 'img/volume.png' %}">
      </a>
      <input type="text" class="slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1"
             data-slider-value="80" data-slider-selection="after" data-slider-tooltip="hide">
      {% if last_show.is_live %}
        <span class="on-air">{% trans 'ON AIR' %}<span></span></span>
      {% endif %}

      <table id='container-clock'>
        <tr>
          <td>
            <svg id='clock' viewBox='0 0 100 100' width='80' height='80'>
              <circle id='surface' cx='50' cy='50' r='45'/>
              <g id='pointers'>
                <line id='h_pointer' x1='50' y1='50' x2='50' y2='27' />
                <line id='m_pointer' x1='50' y1='50' x2='50' y2='17' />
                <line id='s_pointer' x1='50' y1='50' x2='50' y2='13' />
              </g>
            </svg>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <script language="javascript" type="text/javascript">
    function timerTick() {
      with (new Date()) {
        var h, m, s;

        h = 30 * ((getHours() % 12) + getMinutes() / 60);
        m = 6 * getMinutes();
        s = 6 * getSeconds();

        document.getElementById('h_pointer').setAttribute('transform', 'rotate(' + h + ', 50, 50)');
        document.getElementById('m_pointer').setAttribute('transform', 'rotate(' + m + ', 50, 50)');
        document.getElementById('s_pointer').setAttribute('transform', 'rotate(' + s + ', 50, 50)');

        setTimeout(timerTick, 1000);
      }
    }
  </script>

</div>


