{% load staticfiles compress %}

{% compress js %}
  <script type="text/javascript" src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'components/bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/jquery-pjax/jquery.pjax.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/bootstrap-slider/bootstrap-slider.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/jquery-loader/jquery.loader.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/jplayer/dist/jplayer/jquery.jplayer.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/jquery-sticky/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="{% static 'components/modernizer/modernizr.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/player.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/clock.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/domready.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
  /*
   if we need to have an initial stream or track to play
   we put the settings here
   */
  $(document).ready(function() {
    $("#player-block").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          title: "{{ last_show.title }}",
          rtmpa: "{{ last_show.url }}",
          m3u8a: "{{ last_show.url_for_ios }}",
          poster: "{{ last_show.image.url }}"
        });
      },
      solution: 'html, flash',
      // @TODO WARNING!!! HARDCODED PRODUCTION SERVER SETTING
      swfPath: "/static/components/jplayer/dist/jplayer",
      supplied: "m3u8a, rtmpa",
      volume: 0.8,
      cssSelectorAncestor: "",
      cssSelector: {
        play: ".player-block #play",
        pause: ".player-block #pause",
        seekBar: '.progress-block .slider',
        playBar: '.progress-block .slider-selection',
        currentTime: '.time.current',
        duration: '.time.end'
      },
      size: {
        width: "0px",
        height: "0px"
      },
      playing: function() {
        $('.podcast-block').loader('hide', {overlay: false, background: false});
        $('.progress-block .slider-track').removeClass('seeking-bar');
      },
      progress: function() {
          $('.podcast-block').loader('hide', {overlay: false, background: false});
          $('.progress-block .slider-track').removeClass('seeking-bar');
      },
      seeking: function() {
          $('.progress-block .slider-track').addClass('seeking-bar');
      },
      seeked: function() {
          $('.podcast-block').loader('hide', {overlay: false, background: false});
          $('.progress-block .slider-track').removeClass('seeking-bar');
      }
    });
  });

  $('marquee.hidden-xs').text('{{ last_show.description|striptags|escapejs }}');
  $('div.show-name').text(
      '{{ last_show.date }}' + ' // ' + '{{ last_show.title }}'
  );
</script>

