{% load i18n cache cb_tags %}

<li>
  <a href="http://soundcloud.com/" target="_blank" class="podcast">{% trans 'Podcasts' %}</a>
</li>

{% nav_link _("Archive") 'shows:archive' %}
{% if user.is_authenticated %}
  {% nav_link user 'accounts:info' %}
{% else %}
  {% nav_link _("Sign In") 'account_login' %}
{% endif %}

<li>
  <a href="#" class="subscribe"><span>¡SUSCRIBETE!</span></a>
</li>
<li>
  <a href="#" class="archive">ARCHIVO</a>
</li>
<li>
  <a href="#" class="podcast">PODCAST</a>
</li>
<li>
  <a href="#" class="search glyphicon glyphicon-search"></a>
</li>
