{% load i18n cache cb_tags %}

<li  class="subscribe">
  <a href="#"><span>¡SUSCRIBETE!</span></a>
</li>

{% nav_link _("Archive") 'shows:archive' css_class='archive' %}

<li class="podcast">
  <a href="http://soundcloud.com/" target="_blank">{% trans 'Podcasts' %}</a>
</li>

{% if user.is_authenticated %}
  {% nav_link user 'accounts:info' css_class='session' %}
{% else %}
  {% nav_link _("Sign In") 'account_login' css_class='session' %}
{% endif %}

<li>
  <a href="#" class="search glyphicon glyphicon-search"></a>
</li>
