{% extends 'base.html' %}
{% load thumbnail staticfiles i18n %}

{% block head_title %}
  {% trans "Shows archive" %}{% if category %} - {{ category.title|capfirst }}{% endif %}
{% endblock %}

{% block content %}

  <div class="container">
    <ul class="nav archive-nav">
        <li role="presentation" {% if not category %}class="active"{% endif %}>
          <a href="{% url 'shows:archive' %}" class="archive-category-link">{% trans 'All' %}</a>
        </li>
      {% for cat in categories %}
        <li role="presentation" {% if cat == category %}class="active"{% endif %}>
          <a href="{% url 'shows:archive_category' category=cat.title %}" class="archive-category-link">
            {{ cat.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h2>{% block list_title %}{% endblock %}</h2>

  {% for show in show_list %}
    <div class="podcast-block index-podcast col-sm-6" data-show-id="{{ show.id }}" data-show-date="{{ show.date }}" data-show-number="{{ show.show_number }}" data-show-url="{{ show.url }}" data-show-url-ios="{{ show.url_for_ios }}" data-show-title="{{ show.title }}" data-show-description="{{ show.description }}">

      {% thumbnail show.image "300x300" crop="center" as im %}
        <img src="{{ im.url }}" class="hidden-xs">
      {% endthumbnail %}
      {% thumbnail show.image "600x300" crop="center" as im %}
        <img src="{{ im.url }}" class="visible-xs-block">
      {% endthumbnail %}
      <div class="info-block">
        <div class="date">
          {% trans 'SILENCIO' %} {{ show.show_number }}: {{ show.date }}
        </div>
        <h3>
          {{ show.title }}
        </h3>
        <div class="episode-desc">
          {{ show.description|truncatechars:400|safe|linebreaks }}
        </div>
        {% if user.is_authenticated and user.is_paid_member %}
            <a onclick="loadTrack(this)" class="play-button">
                <img src="{% static 'img/play-button.png' %}">
            </a>
            <a onclick="pause(this)" class="pause-button" style="display: none;">
              <img src="{% static 'img/pause-button.png' %}">
            </a>
        {% else %}
            <a href="#" class="play-button-subscribe" data-toggle="modal" data-target="#premium-need">
                <img src="{% static 'img/play-button.png' %}">
            </a>
        {% endif %}
      </div>
    </div>
  {% empty %}
    {% block empty_message %}{% trans 'No shows yet' %}{% endblock %}
  {% endfor %}

{% endblock %}
