.footer {
  background-color: #000000;

  .footer-menu {
    div {
      padding: 15px;
      a {
        color: #ffffff;
      }
    }
  }

  .copyrights {
    padding: 35px 0;
    background-color: #292929;
    color: #ffffff;

    div {
      padding-left: 30px;
    }
  }
} 