body {
  font-family: 'Roboto Slab', serif;
  position: relative;
}

.clear {
  clear: both;
}

.container-fluid {
  padding: 0;
}

.podcast-block {
  position: relative;

  img {
    width: 100%;
  }

  .info-block {
    position: absolute;
    top: 0;
    color: #ffffff;
    padding: 20px 15px;
    height: 100%;

    .date {
      font-size: 10px;
    }

    h3 {
      font-size: 16px;
    }

    .episode-desc {
      font-size: 10px;
    }

    .play-button {
      position: absolute;
      right: 50%;
      margin-right: -25px;
      bottom: 10px;
      display: block;
      height: 50px;
      width: 50px;
    }
  }
}