body {
  font-family: 'Roboto Slab', serif;
  position: relative;
}

.clear {
  clear: both;
}

.container-fluid {
  padding: 0;
}

.al-aire {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 18px;
  color: #ffffff;
  background-color: #ed3633;
  height: 80px;
  width: 80px;
  text-align: center;
  z-index: 10;
  border-radius: 40px;
  padding-top: 20px;
  line-height: 1;
}

.podcast-block {
  position: relative;

  &.top-podcast {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }

  .info-block {
    position: absolute;
    top: 0;
    color: #ffffff;
    padding: 20px 15px;
    height: 100%;

    .date {
      font-size: 10px;
    }

    h3 {
      font-size: 16px;
    }

    .episode-desc {
      font-size: 10px;
    }

    .play-button, .pause-button {
      position: absolute;
      right: 50%;
      margin-right: -25px;
      bottom: 10px;
      display: block;
      height: 50px;
      width: 50px;
    }
  }
}